.skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    position: relative;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(20px);
  }
  
  .card:hover .overlay {
    opacity: 1;
    transform: translateY(0);
  }
  
  .skillName {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    z-index: 1; /* Ensure text is above the overlay */
  }
  
  .skillDescription {
    color: white;
    text-align: center;
    margin-top: 10px;
    z-index: 1; /* Ensure text is above the overlay */
    display: none; /* Hidden by default */
  }
  
  .card:hover .skillDescription {
    display: block; /* Show on hover */
  }
  